@page
@model CfB_Sample_Trainer_Website_ASPNET.Pages.ParticipantSelectionModel
@{
}

<textarea id="participients" rows="10" cols="30"></textarea>
<button onclick="selectParticipient()">Next Participant</button>


<h1 id="selectedParticipient"></h1>

@section Scripts {
    <script src="~/js/participantselector.js">


    </script>


}